		body{
		text-align: center;
	}
nav {
background-color: #8E99AF;
}

a{ background-color: #5776C4;
	color:white;
	text-decoration: none;
	display: block;
	float:left;
	padding:35px;

}
a:hover{
	background-color: #2424B2;
}
 .clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }	

		h1 {
 color: #5776C4;
    font-family: arial;
}

	h2 {
    color: #8E99AF;
    font-family: arial;
}

	h3 {
    color: #000000;
    font-family: arial;
}

p{
    color: #000000;
    font-family: arial;
    position: center;
}

.board{
height: 50%;
	width: 50%;
	 display:inline-block;
}
.card{
	float:left;
	height: 200px;
	width: 150px;
	margin: 8%;
background-color: #5776C4;
	border: 0 solid #000000;
	border-radius: 10px; 
}
.name{
	color: white;
}

footer{
	background-color: #808080;
}

img{ height: 200px;
	width: 150px;
	border-radius: 10px; 

}

}